@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
    <div class="welcome-header">
        <h1 class="display-4">¡Bienvenido!</h1>
    </div>
    <div class="welcome-message">
        <p>¡Empecemos a explorar el mundo de ASP.NET Core!</p>
    </div>
    <div class="welcome-image">
        <img src="~/images/logo.png" alt="ASP.NET Core Logo" />
    </div>
</div>
